<%- include('../partials/Header') %> 
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<h1><%= movie.movieName %> </h1>
<h1><%= movie.movieInfo %> </h1>
<h1><%= movie.movieClass %> </h1>
<h1><%= movie.yearRelease %> </h1>
<h1><%= movie.runTime %> </h1>
<image src="<%= movie.url %>"/>
<%- include('../partials/Footer') %>